@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

body {
  background-color: #1e293b;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.sidebar {
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 10px;
  height: 90dvh;
  width: 190px;
  background-color: black;
}

.sidebar .image-text {
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 100px;
}

.image-text img {
  width: 30px;
}

.links {
  display: flex;
  align-items: center;
}

.arrow {
  position: fixed;
  text-align: center;
  background: #1e293b;
  border-radius: 50%;
  line-height: 35px;
  width: 35px;
  margin: 185px;
  color: white;
}

.links img {
  width: 22px;
}

.links span {
  margin: 15px;
  font-size: 15px;
}

.user-list {
  display: flex;
  align-items: center;
  border-top: 1px solid #fff;

  img {
    width: 50px;
  }

  span {
    font-size: 15px;
  }
}

.sidebar .top-links {
  height: 70%;
}

.btn {
  background-color: #1e293b;
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
